[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_odfextractor
Name=KFileMetaData Odf Extractor
Name[cs]=Extraktor Odf KFileMetaData
Name[de]=ODF-Extraktion für KFileMetaData
Name[el]=Εξαγωγέας Odf KFileMetaData
Name[es]=Extractor de Odf para KFileMetaData
Name[fr]=Extracteur Odf de KFileMetaData
Name[hu]=KFileMetaData Odf kibontó
Name[nl]=Extractieprogramma voor KFileMetaData Odf
Name[pt]=Extracção de ODF do KFileMetaData
Name[pt_BR]=Extrator de ODF do KFileMetaData
Name[sk]=Extraktor KFileMetaData Odf
Name[sv]=Kfilmetadata ODF-extrahering
Name[uk]=Засіб видобування метаданих ODF
Name[x-test]=xxKFileMetaData Odf Extractorxx
