[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_odfextractor
Name=KFileMetaData Odf Extractor
Name[bs]=KFileMetaData Odf ekstraktor
Name[ca]=Extractor Odf del KFileMetaData
Name[ca@valencia]=Extractor Odf del KFileMetaData
Name[cs]=Extraktor Odf KFileMetaData
Name[da]=KFileMetaData Odf-udtrækker
Name[de]=ODF-Extraktion für KFileMetaData
Name[el]=Εξαγωγέας Odf KFileMetaData
Name[en_GB]=KFileMetaData ODF Extractor
Name[es]=Extractor de Odf para KFileMetaData
Name[et]=KFileMetaData Odfi ekstraktimine
Name[fi]=KFileMetaDatan Odf-lukuohjelma
Name[fr]=Extracteur Odf de KFileMetaData
Name[gl]=Extractor de Odf de KFileMetaData
Name[hu]=KFileMetaData Odf kibontó
Name[ia]=Extractor de KFileMetaData Odf
Name[it]=Estrattore Odf di KFileMetaData
Name[ko]=KFileMetaData Odf 추출기
Name[lt]=KFileMetaData Odf ekstraktorius
Name[nb]=KFileMetaData Odf-uttrekker
Name[nds]=KFile-Metadaten-ODF-Leser
Name[nl]=Extractieprogramma voor KFileMetaData Odf
Name[pl]=Wydobywanie z Odf dla KFileMetaData
Name[pt]=Extracção de ODF do KFileMetaData
Name[pt_BR]=Extrator de ODF do KFileMetaData
Name[ru]=Модуль извлечения метаданных из файлов OpenDocument Format
Name[sk]=Extraktor KFileMetaData Odf
Name[sl]=Program za izvleko Odf za KFileMetaData
Name[sr]=Издвајач ОДФ‑а (KFileMetaData)
Name[sr@ijekavian]=Издвајач ОДФ‑а (KFileMetaData)
Name[sr@ijekavianlatin]=Izdvajač ODF‑a (KFileMetaData)
Name[sr@latin]=Izdvajač ODF‑a (KFileMetaData)
Name[sv]=Kfilmetadata ODF-extrahering
Name[tr]=KFileMetaData Odf Çıkarıcı
Name[uk]=Засіб видобування метаданих ODF
Name[x-test]=xxKFileMetaData Odf Extractorxx
Name[zh_CN]=KFileMetaData Odf 提取工具
Name[zh_TW]=KFileMetaData Odf 展開器
