[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_ffmpegextractor
Name=KFileMetaData FFmpeg Extractor
Name[cs]=Extraktor FFmpeg KFileMetaData
Name[de]=FFmpeg-Extraktion für KFileMetaData
Name[el]=Εξαγωγέας FFmpeg KFileMetaData
Name[fr]=Extracteur FFmpeg de KFileMetaData
Name[nl]=Extractieprogramma voor KFileMetaData FFmpeg
Name[pt]=Extracção de FFmpeg do KFileMetaData
Name[pt_BR]=Extrator de FFmpeg do KFileMetaData
Name[sk]=Extraktor KFileMetaData FFmpeg
Name[sv]=Kfilmetadata FFmpeg-extrahering
Name[uk]=Засіб видобування метаданих FFmpeg
Name[x-test]=xxKFileMetaData FFmpeg Extractorxx
