[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_taglibextractor
Name=KFileMetaData TagLib Extractor
Name[bs]=KFileMetaData TagLib ekstraktor
Name[ca]=Extractor TagLib del KFileMetaData
Name[ca@valencia]=Extractor TagLib del KFileMetaData
Name[cs]=Extraktor TagLib KFileMetaData
Name[da]=KFileMetaData TagLib-udtrækker
Name[de]=TagLib-Extraktion für KFileMetaData
Name[el]=Εξαγωγέας TagLib KFileMetaData
Name[en_GB]=KFileMetaData TagLib Extractor
Name[es]=Extractor de TagLib para KFileMetaData
Name[et]=KFileMetaData TagLibi ekstraktimine
Name[fi]=KFileMetaDatan TagLib-lukuohjelma
Name[fr]=Extracteur TagLib de KFileMetaData
Name[gl]=Extractor de TagLib de KFileMetaData
Name[hu]=KFileMetaData TagLib kibontó
Name[ia]=Extractor de KFileMetaData TagLib
Name[it]=Estrattore TagLib di KFileMetaData
Name[ko]=KFileMetaData TagLib 추출기
Name[lt]=KFileMetaData TagLib ekstraktorius
Name[nb]=KFileMetaData TagLib-uttrekker
Name[nds]=KFile-Metadaten-TagLib-Leser
Name[nl]=Extractieprogramma voor KFileMetaData TagLib
Name[pl]=Wydobywanie z TagLib dla KFileMetaData
Name[pt]=Extracção de TagLib do KFileMetaData
Name[pt_BR]=Extrator de TagLib do KFileMetaData
Name[ru]=Модуль извлечения метаданных из аудиофайлов с помощью TagLib
Name[sk]=Extraktor KFileMetaData TagLib
Name[sl]=Program za izvleko TagLib za KFileMetaData
Name[sr]=Издвајач Таглибом (KFileMetaData)
Name[sr@ijekavian]=Издвајач Таглибом (KFileMetaData)
Name[sr@ijekavianlatin]=Izdvajač TagLibom (KFileMetaData)
Name[sr@latin]=Izdvajač TagLibom (KFileMetaData)
Name[sv]=Kfilmetadata Taglib-extrahering
Name[tr]=KFileMetaData TagLib Çıkarıcı
Name[uk]=Засіб видобування метаданих TagLib
Name[x-test]=xxKFileMetaData TagLib Extractorxx
Name[zh_CN]=KFileMetaData TagLib 提取工具
Name[zh_TW]=KFileMetaData TagLib 展開器
