[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_office2007extractor
Name=KFileMetaData Office2007 Extractor
Name[cs]=Extraktor Office2007 KFileMetaData
Name[de]=Office 2007-Extraktion für KFileMetaData
Name[nl]=Extractieprogramma voor KFileMetaData Office2007
Name[pt]=Extracção de Office2007 do KFileMetaData
Name[pt_BR]=Extrator de Office 2007 do KFileMetaData
Name[sk]=Extraktor KFileMetaData Office2007
Name[sv]=Kfilmetadata Office 2007-extrahering
Name[uk]=Засіб видобування метаданих Office2007
Name[x-test]=xxKFileMetaData Office2007 Extractorxx
