[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_popplerextractor
Name=KFileMetaData Poppler Extractor
Name[de]=Poppler-Extraktion für KFileMetaData
Name[nl]=Extractieprogramma voor KFileMetaData Poppler
Name[sv]=Kfilmetadata Poppler-extrahering
Name[uk]=Засіб видобування метаданих Poppler
Name[x-test]=xxKFileMetaData Poppler Extractorxx
