[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_ffmpegextractor
Name=KFileMetaData FFmpeg Extractor
Name[de]=FFmpeg-Extraktion für KFileMetaData
Name[nl]=Extractieprogramma voor KFileMetaData FFmpeg
Name[sv]=Kfilmetadata FFmpeg-extrahering
Name[uk]=Засіб видобування метаданих FFmpeg
Name[x-test]=xxKFileMetaData FFmpeg Extractorxx
