[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_ffmpegextractor
Name=KFileMetaData FFmpeg Extractor
Name[bs]=KFileMetaData FFmpeg ekstraktor
Name[ca]=Extractor FFmpeg del KFileMetaData
Name[ca@valencia]=Extractor FFmpeg del KFileMetaData
Name[cs]=Extraktor FFmpeg KFileMetaData
Name[da]=KFileMetaData FFmpeg-udtrækker
Name[de]=FFmpeg-Extraktion für KFileMetaData
Name[el]=Εξαγωγέας FFmpeg KFileMetaData
Name[en_GB]=KFileMetaData FFmpeg Extractor
Name[es]=Extractor de FFmpeg para KFileMetaData
Name[et]=KFileMetaData FFmpegi ekstraktimine
Name[fi]=KFileMetaDatan FFmpeg-lukuohjelma
Name[fr]=Extracteur FFmpeg de KFileMetaData
Name[gl]=Extractor de FFmpeg de KFileMetaData
Name[hu]=KFileMetaData FFmpeg kibontó
Name[ia]=Extractor de KFileMetaData FFmpeg
Name[it]=Estrattore FFmpeg di KFileMetaData
Name[ko]=KFileMetaData FFmpeg 추출기
Name[lt]=KFileMetaData FFmpeg ekstraktorius
Name[nb]=KFileMetaData FFmpeg-uttrekker
Name[nds]=KFile-Metadaten-FFmpeg-Leser
Name[nl]=Extractieprogramma voor KFileMetaData FFmpeg
Name[pl]=Wydobywanie z FFmpeg dla KFileMetaData
Name[pt]=Extracção de FFmpeg do KFileMetaData
Name[pt_BR]=Extrator de FFmpeg do KFileMetaData
Name[ru]=Модуль извлечения метаданных видеофайлов с помощью FFmpeg
Name[sk]=Extraktor KFileMetaData FFmpeg
Name[sl]=Program za izvleko FFmpeg za KFileMetaData
Name[sr]=Издвајач ФФмпегом (KFileMetaData)
Name[sr@ijekavian]=Издвајач ФФмпегом (KFileMetaData)
Name[sr@ijekavianlatin]=Izdvajač FFmpegom (KFileMetaData)
Name[sr@latin]=Izdvajač FFmpegom (KFileMetaData)
Name[sv]=Kfilmetadata FFmpeg-extrahering
Name[tr]=KFileMetaData FFmpeg Çıkarıcı
Name[uk]=Засіб видобування метаданих FFmpeg
Name[x-test]=xxKFileMetaData FFmpeg Extractorxx
Name[zh_CN]=KFileMetaData FFmpeg 提取工具
Name[zh_TW]=KFileMetaData FFmpeg 展開器
