[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_exiv2extractor
Name=KFileMetaData Exiv2 Extractor
Name[cs]=Extraktor Exiv2 KFileMetaData
Name[de]=Exiv2-Extraktion für KFileMetaData
Name[nl]=Extractieprogramma voor KFileMetaData Exiv2
Name[pt]=Extracção de Exiv2 do KFileMetaData
Name[pt_BR]=Extrator de Exiv2 do KFileMetaData
Name[sv]=Kfilmetadata Exiv2-extrahering
Name[uk]=Засіб видобування метаданих Exiv2
Name[x-test]=xxKFileMetaData Exiv2 Extractorxx
