[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_epubextractor
Name=KFileMetaData EPub Extractor
Name[de]=EPub-Extraktion für KFileMetaData
Name[nl]=Extractieprogramma voor KFileMetaData EPub
Name[sv]=Kfilmetadata EPub-extrahering
Name[uk]=Засіб видобування метаданих EPub
Name[x-test]=xxKFileMetaData EPub Extractorxx
