[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_office2007extractor
Name=KFileMetaData Office2007 Extractor
