[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_mobiextractor
Name=KFileMetaData Mobi Extractor
Name[bs]=KFileMetaData Mobi ekstraktor
Name[ca]=Extractor Mobi del KFileMetaData
Name[ca@valencia]=Extractor Mobi del KFileMetaData
Name[cs]=Extraktor Mobi KFileMetaData
Name[da]=KFileMetaData Mobi-udtrækker
Name[de]=Mobi-Extraktion für KFileMetaData
Name[el]=Εξαγωγέας Mobi KFileMetaData
Name[en_GB]=KFileMetaData Mobi Extractor
Name[es]=Extractor de Mobi para KFileMetaData
Name[et]=KFileMetaData Mobi ekstraktimine
Name[fi]=KFileMetaDatan Mobi-lukuohjelma
Name[fr]=Extracteur Mobi de KFileMetaData
Name[gl]=Extractor de Mobi de KFileMetaData
Name[hu]=KFileMetaData Mobi kibontó
Name[ia]=Extractor de KFileMetaData Mobi
Name[it]=Estrattore Mobi di KFileMetaData
Name[ko]=KFileMetaData Mobi 추출기
Name[lt]=KFileMetaData Mobi ekstraktorius
Name[nb]=KFileMetaData Mobi-uttrekker
Name[nds]=KFile-Metadaten-Mobi-Leser
Name[nl]=Extractieprogramma voor KFileMetaData Mobi
Name[pl]=Wydobywanie z Mobi dla KFileMetaData
Name[pt]=Extracção de Mobi do KFileMetaData
Name[pt_BR]=Extrator de Mobi do KFileMetaData
Name[ru]=Модуль извлечения метаданных из файлов Mobi
Name[sk]=Extraktor KFileMetaData Mobi
Name[sl]=Program za izvleko Mobi za KFileMetaData
Name[sr]=Издвајач Мобипокета (KFileMetaData)
Name[sr@ijekavian]=Издвајач Мобипокета (KFileMetaData)
Name[sr@ijekavianlatin]=Izdvajač Mobipocketa (KFileMetaData)
Name[sr@latin]=Izdvajač Mobipocketa (KFileMetaData)
Name[sv]=Kfilmetadata Mobi-extrahering
Name[tr]=KFileMetaData Mobi Çıkarıcı
Name[uk]=Засіб видобування метаданих Mobi
Name[x-test]=xxKFileMetaData Mobi Extractorxx
Name[zh_CN]=KFileMetaData Mobi 提取工具
Name[zh_TW]=KFileMetaData Mobi 展開器
