[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_officeextractor
Name=KFileMetaData Office Extractor
Name[de]=Office-Extraktion für KFileMetaData
Name[nl]=Extractieprogramma voor KFileMetaData Office
Name[sv]=Kfilmetadata Office-extrahering
Name[uk]=Засіб видобування метаданих Office
Name[x-test]=xxKFileMetaData Office Extractorxx
