[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_epubextractor
Name=KFileMetaData EPub Extractor
Name[bs]=KFileMetaData EPub ekstraktor
Name[ca]=Extractor EPub del KFileMetaData
Name[ca@valencia]=Extractor EPub del KFileMetaData
Name[cs]=Extraktor EPub KFileMetaData
Name[da]=KFileMetaData EPub-udtrækker
Name[de]=EPub-Extraktion für KFileMetaData
Name[el]=Εξαγωγέας EPub KFileMetaData
Name[en_GB]=KFileMetaData EPub Extractor
Name[es]=Extractor de EPub para KFileMetaData
Name[et]=KFileMetaData EPubi ekstraktimine
Name[fi]=KFileMetaDatan EPub-lukuohjelma
Name[fr]=Extracteur EPub de KFileMetaData
Name[gl]=Extractor de EPub de KFileMetaData
Name[hu]=KFileMetaData EPub kibontó
Name[ia]=KFileMetadata Extractor de EPub 
Name[it]=Estrattore EPub di KFileMetaData
Name[ko]=KFileMetaData EPub 추출기
Name[lt]=KFileMetaData EPub ekstraktorius
Name[nb]=KFileMetaData EPub-uttrekker
Name[nds]=KFile-Metadaten-EPub-Leser
Name[nl]=Extractieprogramma voor KFileMetaData EPub
Name[pl]=Wydobywanie z EPub dla KFileMetaData
Name[pt]=Extracção de EPub do KFileMetaData
Name[pt_BR]=Extrator de EPub do KFileMetaData
Name[ru]=Модуль извлечения метаданных из файлов EPub
Name[sk]=Extraktor KFileMetaData EPub
Name[sl]=Program za izvleko EPub za KFileMetaData
Name[sr]=Издвајач ЕПУБ‑а (KFileMetaData)
Name[sr@ijekavian]=Издвајач ЕПУБ‑а (KFileMetaData)
Name[sr@ijekavianlatin]=Izdvajač EPUB‑a (KFileMetaData)
Name[sr@latin]=Izdvajač EPUB‑a (KFileMetaData)
Name[sv]=Kfilmetadata EPub-extrahering
Name[tr]=KFileMetaData EPub Çıkarıcı
Name[uk]=Засіб видобування метаданих EPub
Name[x-test]=xxKFileMetaData EPub Extractorxx
Name[zh_CN]=KFileMetaData EPub 提取工具
Name[zh_TW]=KFileMetaData EPub 展開器
