[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_plaintextextractor
Name=KFileMetaData Plain Text Extractor
Name[bs]=KFileMetaData ekstraktor običnog teksta
Name[ca]=Extractor de text del KFileMetaData
Name[ca@valencia]=Extractor de text del KFileMetaData
Name[cs]=Extraktor čistého textu KFileMetaData
Name[da]=KFileMetaData Klartekst-udtrækker
Name[de]=Extraktion von einfachen Text für KFileMetaData
Name[el]=Εξαγωγέας απλού κειμένου KFileMetaData
Name[en_GB]=KFileMetaData Plain Text Extractor
Name[es]=Extractor de texto sin formato para KFileMetaData
Name[et]=KFileMetaData lihtteksti ekstraktimine
Name[fi]=KFileMetaDatan muotoilemattoman tekstin lukuohjelma
Name[fr]=Extracteur texte brut de KFileMetaData
Name[gl]=Extractor de texto simple de KFileMetaData
Name[hu]=KFileMetaData egyszerű szöveg kibontó
Name[ia]=Extractor de KFileMetaData Texto Plan
Name[it]=Estrattore per testo semplice di KFileMetaData
Name[ko]=KFileMetaData 일반 텍스트 추출기
Name[lt]=KFileMetaData Paprastojo teksti ekstraktorius
Name[nb]=KFileMetaData uttrekker for ren tekst
Name[nds]=KFile-Metadaten-Eenfachtext-Leser
Name[nl]=Extractieprogramma voor KFileMetaData Plain Text
Name[pl]=Wydobywanie zwykłego tekstu dla KFileMetaData
Name[pt]=Extracção de Texto Simples do KFileMetaData
Name[pt_BR]=Extrator de Texto Simples do KFileMetaData
Name[ru]=Модуль извлечения метаданных из простых текстовых файлов
Name[sk]=Extraktor KFileMetaData Plain Text
Name[sl]=Program za izvleko golega besedila za KFileMetaData
Name[sr]=Издвајач обичног текста (KFileMetaData)
Name[sr@ijekavian]=Издвајач обичног текста (KFileMetaData)
Name[sr@ijekavianlatin]=Izdvajač običnog teksta (KFileMetaData)
Name[sr@latin]=Izdvajač običnog teksta (KFileMetaData)
Name[sv]=Kfilmetadata vanlig textextrahering
Name[tr]=KFileMetaData Düz Metin Çıkarıcı
Name[uk]=Засіб видобування метаданих з неформатованого тексту
Name[x-test]=xxKFileMetaData Plain Text Extractorxx
Name[zh_CN]=KFileMetaData 纯文本提取工具
Name[zh_TW]=KFileMetaData 純文字檔展開器
