[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_exiv2extractor
Name=KFileMetaData Exiv2 Extractor
Name[bs]=KFileMetaData Exiv2 ekstraktor
Name[ca]=Extractor Exiv2 del KFileMetaData
Name[cs]=Extraktor Exiv2 KFileMetaData
Name[da]=KFileMetaData Exiv2-udtrækker
Name[de]=Exiv2-Extraktion für KFileMetaData
Name[el]=Εξαγωγέας Exiv2 KFileMetaData
Name[es]=Extractor de Exiv2 para KFileMetaData
Name[fi]=KFileMetaDatan Exiv2-lukuohjelma
Name[fr]=Extracteur Exiv2 de KFileMetaData
Name[hu]=KFileMetaData Exiv2 kibontó
Name[ko]=KFileMetaData Exiv2 추출기
Name[nds]=KFile-Metadaten-Exiv2-Leser
Name[nl]=Extractieprogramma voor KFileMetaData Exiv2
Name[pl]=Wydobywanie z Exiv2 dla KFileMetaData
Name[pt]=Extracção de Exiv2 do KFileMetaData
Name[pt_BR]=Extrator de Exiv2 do KFileMetaData
Name[sk]=Extraktor KFileMetaData Exiv2
Name[sl]=Program za izvleko Exiv2 za KFileMetaData
Name[sr]=Издвајач Ексивом 2 (KFileMetaData)
Name[sr@ijekavian]=Издвајач Ексивом 2 (KFileMetaData)
Name[sr@ijekavianlatin]=Izdvajač Exivom 2 (KFileMetaData)
Name[sr@latin]=Izdvajač Exivom 2 (KFileMetaData)
Name[sv]=Kfilmetadata Exiv2-extrahering
Name[uk]=Засіб видобування метаданих Exiv2
Name[x-test]=xxKFileMetaData Exiv2 Extractorxx
Name[zh_TW]=KFileMetaData Exiv2 展開器
