[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_taglibextractor
Name=KFileMetaData TagLib Extractor
Name[cs]=Extraktor TagLib KFileMetaData
Name[de]=TagLib-Extraktion für KFileMetaData
Name[el]=Εξαγωγέας TagLib KFileMetaData
Name[fr]=Extracteur TagLib de KFileMetaData
Name[hu]=KFileMetaData TagLib kibontó
Name[nl]=Extractieprogramma voor KFileMetaData TagLib
Name[pt]=Extracção de TagLib do KFileMetaData
Name[pt_BR]=Extrator de TagLib do KFileMetaData
Name[sk]=Extraktor KFileMetaData TagLib
Name[sv]=Kfilmetadata Taglib-extrahering
Name[uk]=Засіб видобування метаданих TagLib
Name[x-test]=xxKFileMetaData TagLib Extractorxx
