[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_officeextractor
Name=KFileMetaData Office Extractor
Name[bs]=KFileMetaData Office ekstraktor
Name[ca]=Extractor Office del KFileMetaData
Name[ca@valencia]=Extractor Office del KFileMetaData
Name[cs]=Extraktor Office KFileMetaData
Name[da]=KFileMetaData Office-udtrækker
Name[de]=Office-Extraktion für KFileMetaData
Name[el]=Εξαγωγέας Office KFileMetaData
Name[en_GB]=KFileMetaData Office Extractor
Name[es]=Extractor de Office para KFileMetaData
Name[et]=KFileMetaData Office'i ekstraktimine
Name[fi]=KFileMetaDatan Office-lukuohjelma
Name[fr]=Extracteur Office de KFileMetaData
Name[gl]=Extractor de Office de KFileMetaData
Name[hu]=KFileMetaData Office kibontó
Name[ia]=Extractor de KFileMetaData Office
Name[it]=Estrattore Office di KFileMetaData
Name[ko]=KFileMetaData Office 추출기
Name[lt]=KFileMetaData Office ekstraktorius
Name[nb]=KFileMetaData Office-uttrekker
Name[nds]=KFile-Metadaten-Office-Leser
Name[nl]=Extractieprogramma voor KFileMetaData Office
Name[pl]=Wydobywanie z Office dla KFileMetaData
Name[pt]=Extracção de Office do KFileMetaData
Name[pt_BR]=Extrator de Office do KFileMetaData
Name[ru]=Модуль извлечения метаданных из файлов Office
Name[sk]=Extraktor KFileMetaData Office
Name[sl]=Program za izvleko Office za KFileMetaData
Name[sr]=Издвајач МС Офиса (KFileMetaData)
Name[sr@ijekavian]=Издвајач МС Офиса (KFileMetaData)
Name[sr@ijekavianlatin]=Izdvajač MS Officea (KFileMetaData)
Name[sr@latin]=Izdvajač MS Officea (KFileMetaData)
Name[sv]=Kfilmetadata Office-extrahering
Name[tr]=KFileMetaData Office Çıkarıcı
Name[uk]=Засіб видобування метаданих Office
Name[x-test]=xxKFileMetaData Office Extractorxx
Name[zh_CN]=KFileMetaData Office 提取工具
Name[zh_TW]=KFileMetaData Office 展開器
