[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_epubextractor
Name=KFileMetaData EPub Extractor
Name[bs]=KFileMetaData EPub ekstraktor
Name[ca]=Extractor EPub del KFileMetaData
Name[cs]=Extraktor EPub KFileMetaData
Name[de]=EPub-Extraktion für KFileMetaData
Name[el]=Εξαγωγέας EPub KFileMetaData
Name[es]=Extractor de EPub para KFileMetaData
Name[fi]=KFileMetaDatan EPub-lukuohjelma
Name[fr]=Extracteur EPub de KFileMetaData
Name[hu]=KFileMetaData EPub kibontó
Name[nds]=KFile-Metadaten-EPub-Leser
Name[nl]=Extractieprogramma voor KFileMetaData EPub
Name[pl]=Wydobywanie z EPub dla KFileMetaData
Name[pt]=Extracção de EPub do KFileMetaData
Name[pt_BR]=Extrator de EPub do KFileMetaData
Name[sk]=Extraktor KFileMetaData EPub
Name[sl]=Program za izvleko EPub za KFileMetaData
Name[sr]=Издвајач ЕПУБ‑а (KFileMetaData)
Name[sr@ijekavian]=Издвајач ЕПУБ‑а (KFileMetaData)
Name[sr@ijekavianlatin]=Izdvajač EPUB‑a (KFileMetaData)
Name[sr@latin]=Izdvajač EPUB‑a (KFileMetaData)
Name[sv]=Kfilmetadata EPub-extrahering
Name[uk]=Засіб видобування метаданих EPub
Name[x-test]=xxKFileMetaData EPub Extractorxx
Name[zh_TW]=KFileMetaData EPub 展開器
