[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_office2007extractor
Name=KFileMetaData Office2007 Extractor
Name[bs]=KFileMetaData Office2007 ekstraktor
Name[ca]=Extractor Office2007 del KFileMetaData
Name[cs]=Extraktor Office2007 KFileMetaData
Name[de]=Office 2007-Extraktion für KFileMetaData
Name[el]=Εξαγωγέας Office2007 KFileMetaData
Name[es]=Extractor de Office2007 para KFileMetaData
Name[fi]=KFileMetaDatan Office2007-lukuohjelma
Name[fr]=Extracteur Office2007 de KFileMetaData
Name[hu]=KFileMetaData Office2007 kibontó
Name[ko]=KFileMetaData Office2007 추출기
Name[nds]=KFile-Metadaten-Office2007-Leser
Name[nl]=Extractieprogramma voor KFileMetaData Office2007
Name[pl]=Wydobywanie z Office2007 dla KFileMetaData
Name[pt]=Extracção de Office2007 do KFileMetaData
Name[pt_BR]=Extrator de Office 2007 do KFileMetaData
Name[sk]=Extraktor KFileMetaData Office2007
Name[sl]=Program za izvleko Office2007 za KFileMetaData
Name[sr]=Издвајач МС Офиса 2007 (KFileMetaData)
Name[sr@ijekavian]=Издвајач МС Офиса 2007 (KFileMetaData)
Name[sr@ijekavianlatin]=Izdvajač MS Officea 2007 (KFileMetaData)
Name[sr@latin]=Izdvajač MS Officea 2007 (KFileMetaData)
Name[sv]=Kfilmetadata Office 2007-extrahering
Name[uk]=Засіб видобування метаданих Office2007
Name[x-test]=xxKFileMetaData Office2007 Extractorxx
Name[zh_TW]=KFileMetaData Office2007 展開器
