[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_popplerextractor
Name=KFileMetaData Poppler Extractor
Name[bs]=KFileMetaData Poppler ekstraktor
Name[ca]=Extractor Poppler del KFileMetaData
Name[ca@valencia]=Extractor Poppler del KFileMetaData
Name[cs]=Extraktor Poppler KFileMetaData
Name[da]=KFileMetaData Poppler-udtrækker
Name[de]=Poppler-Extraktion für KFileMetaData
Name[el]=Εξαγωγέας Poppler KFileMetaData
Name[en_GB]=KFileMetaData Poppler Extractor
Name[es]=Extractor de Poppler para KFileMetaData
Name[et]=KFileMetaData Poppleri ekstraktimine
Name[fi]=KFileMetaDatan Poppler-lukuohjelma
Name[fr]=Extracteur Poppler de KFileMetaData
Name[gl]=Extractor de Poppler de KFileMetaData
Name[hu]=KFileMetaData Poppler kibontó
Name[ia]=Extractor de KFileMetaData Poppler
Name[it]=Estrattore Poppler di KFileMetaData
Name[ko]=KFileMetaData Poppler 추출기
Name[lt]=KFileMetaData Poppler ekstraktorius
Name[nb]=KFileMetaData Poppler-uttrekker
Name[nds]=KFile-Metadaten-Poppler-Leser
Name[nl]=Extractieprogramma voor KFileMetaData Poppler
Name[pl]=Wydobywanie z Poppler dla KFileMetaData
Name[pt]=Extracção de Poppler do KFileMetaData
Name[pt_BR]=Extrator de Poppler do KFileMetaData
Name[ru]=Модуль извлечения метаданных из файлов PDF с помощью Poppler
Name[sk]=Extraktor KFileMetaData Poppler
Name[sl]=Program za izvleko Poppler za KFileMetaData
Name[sr]=Издвајач Поплером (KFileMetaData)
Name[sr@ijekavian]=Издвајач Поплером (KFileMetaData)
Name[sr@ijekavianlatin]=Izdvajač Popplerom (KFileMetaData)
Name[sr@latin]=Izdvajač Popplerom (KFileMetaData)
Name[sv]=Kfilmetadata Poppler-extrahering
Name[tr]=KFileMetaData Poppler Çıkarıcı
Name[uk]=Засіб видобування метаданих Poppler
Name[x-test]=xxKFileMetaData Poppler Extractorxx
Name[zh_CN]=KFileMetaData Poppler 提取工具
Name[zh_TW]=KFileMetaData Poppler 展開器
