[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KFileMetaDataExtractor
X-KDE-Library=kfilemetadata_plaintextextractor
Name=KFileMetaData Plain Text Extractor
