[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KFileMetaDataExtractor
Comment=KFileMetaData Extractor
Comment[bs]=KFileMetaData ekstraktor
Comment[ca]=Extractor del KFileMetaData
Comment[ca@valencia]=Extractor del KFileMetaData
Comment[cs]=Extraktor KFileMetaData
Comment[da]=KFileMetaData-udtrækker
Comment[de]=KFileMetaData-Extraktion
Comment[el]=Εξαγωγέας KFileMetaData
Comment[en_GB]=KFileMetaData Extractor
Comment[es]=Extractor para KFileMetaData
Comment[et]=KFileMetaData ekstraktimine
Comment[fi]=KFileMetaDatan lukuohjelma
Comment[fr]=Extracteur de KFileMetaData
Comment[gl]=Extractor de KFileMetaData
Comment[hu]=KFileMetaData kibontó
Comment[ia]=Extractor de KFileMetaData
Comment[it]=Estrattore di KFileMetaData
Comment[ko]=KFileMetaData 추출기
Comment[lt]=KFileMetaData ekstraktorius
Comment[nb]=KFileMetaData uttrekker
Comment[nds]=KFile-Metadaten-Leser
Comment[nl]=Extractieprogramma voor KFileMetaData
Comment[pa]=KFileMetaData ਐਕਸਟਰੈਕਟਰ
Comment[pl]=Wydobywanie KFileMetaData
Comment[pt]=Extracção do KFileMetaData
Comment[pt_BR]=Extrator do KFileMetaData
Comment[ru]=Модуль извлечения метаданных из файлов
Comment[sk]=Extraktor KFileMetaData
Comment[sl]=Program za izvleko za KFileMetaData
Comment[sr]=Издвајач на основу KFileMetaData
Comment[sr@ijekavian]=Издвајач на основу KFileMetaData
Comment[sr@ijekavianlatin]=Izdvajač na osnovu KFileMetaData
Comment[sr@latin]=Izdvajač na osnovu KFileMetaData
Comment[sv]=Kfilmetadata extrahering
Comment[tr]=KFileMetaData Çıkarıcı
Comment[uk]=Засіб видобування метаданих
Comment[x-test]=xxKFileMetaData Extractorxx
Comment[zh_CN]=KFileMetaData 提取工具
Comment[zh_TW]=KFileMetaData 展開器
