[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KMetaDataFileExtractor
X-KDE-Library=kmetadata_plaintextextractor
Name=KMetaData Plain Text Extractor
