[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KMetaDataFileExtractor
X-KDE-Library=kmetadata_office2007extractor
Name=KMetaData Office2007 Extractor
