[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KMetaDataFileExtractor
X-KDE-Library=kmetadata_epubextractor
Name=KMetaData EPub Extractor
Comment=KMetaData extractor for EPub Files
