[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KMetaDataFileExtractor
X-KDE-Library=kmetadata_popplerextractor
Name=KMetaData Poppler Extractor
Comment=KMetaData File extractor for PDF files
