[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KMetaDataFileExtractor
X-KDE-Library=kmetadata_ffmpegextractor
Name=KMetaData FFmpeg Extractor
Comment=KMetaData File extractor for Video files
